/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/reset.h>

#include "helper.h"
#include "symbols.h"
#include "keypos_42keys.h"

&led_strip {
    chain-length = <27>;
};

ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    bindings = <&kp>, <&kp>;
)

ZMK_BEHAVIOR(tkm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    bindings = <&mo>, <&kp>;
)

// Custom Combos
#undef COMBO_TERM
#define COMBO_TERM 50
#define ______ &trans
ZMK_COMBO(sz,  DE_SZ, LM3 RT0, ALL)
ZMK_COMBO(ue, DE_UE, RT1 LT2, ALL)
ZMK_COMBO(sys_layer_right, &mo 4, RH1 RH2, ALL)
ZMK_COMBO(sys_layer_left, &mo 4, LH1 LH2, ALL)

ZMK_LAYER(default_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T             DE_Z          &kp U         &kp I         &kp O         &kp P         &kp BSPC
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp TAB      &hrm LSHIFT A  &hrm LCTRL S  &hrm LGUI D   &hrm LALT F   &kp G             &kp H        &hrm LALT J    &hrm LGUI K  &hrm LCTRL L &hrm LSHIFT SEMICOLON  DE_AE
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp LSHFT     DE_Y          &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp ESC
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 ______         &mo 3        &tkm 1 SPACE      &tkm 2 RET    ______        ______
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       ______       ______         ______        ______        ______        ______            ______        ______        &hrm PG_UP UP ______        ______        &kp DEL
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       ______      &hrm LSHIFT A  &hrm LCTRL S  &hrm LGUI D   &hrm LALT F    ______            ______     &hrm HOME LEFT &hrm PG_DN DOWN &hrm END RIGHT &hrm LSHIFT SEMICOLON DE_AE
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6            &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 ______        ______        ______            ______        ______        ______
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbols_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       DE_DEG        DE_EXCL       DE_DQUO       DE_DLR        DE_PERC        ______            DE_AMPR       DE_SLSH        ______       DE_EQL        DE_QUES       DE_ASTR
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       DE_CARET     DE_LN_LABK &hrm LCTRL LBRACE LBRACKET     DE_LN_LPRN    DE_Y              &kp MINUS     DE_LN_RPRN    RBRACKET  &hrm LCTRL RBRACE  DE_LN_RABK   DE_HASH
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       DE_PIPE       ______        ______        ______        ______        ______            ______        ______        ______        ______        ______        DE_PLUS
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 ______        ______        ______            ______        ______        ______
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(numbers_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       ______        ______        ______        ______        ______        ______            ______        &kp N7        &kp N8        &kp N9        ______        ______
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       ______      &hrm LSHIFT A  &hrm LCTRL S  &hrm LALT D   &hrm LGUI F    DE_AT             ______        &kp N4        &kp N5        &kp N6        ______        ______
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       ______        ______        ______        ______        ______        ______            ______        &kp N1        &kp N2        &kp N3        ______        ______
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 ______        ______        ______            &kp N0        ______        ______
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(system_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &bootloader   &bt BT_CLR    &bt BT_NXT    ______        ______        ______                                       ______        ______        ______        ______        ______        &bootloader
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_EFR &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_COLOR_HSB(128,100,100)    ______        ______        ______        ______        ______        ______
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &rgb_ug RGB_SPI &rgb_ug RGB_SPD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_HUI &rgb_ug RGB_HUD                       ______        ______        ______        ______        ______        ______
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 ______        ______        ______                                       ______        ______        ______
  //                                           ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯
)