/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/reset.h>

#include "../zmk-nodefree-config/helper.h"
#include "symbols.h"
#include "keypos_42keys.h"

&led_strip {
    chain-length = <27>;
};

ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// Custom Combos
#undef COMBO_TERM
#define COMBO_TERM 50
ZMK_COMBO(sz,  DE_SZ, LM3 RT0, ALL)
ZMK_COMBO(ue, DE_UE, RT1 LT2, ALL)

ZMK_LAYER(default_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T             DE_Z          &kp U         &kp I         &kp O         &kp P         &kp BSPC
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp TAB      &hrm LSHIFT A  &hrm LCTRL S  &hrm LALT D   &hrm LGUI F   &kp G             &kp H        &hrm RGUI J    &hrm RALT K  &hrm RCTRL L &hrm RSHIFT SEMICOLON  DE_AE
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp LSHFT     DE_Y          &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp ESC
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 &mo 3         &mo 1         &kp SPACE         &kp RET       &mo 2         &kp RALT
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &trans      &hrm LSHIFT A  &hrm LCTRL S  &hrm LALT D   &hrm LGUI F    &trans          &trans      &hrm RGUI LEFT &hrm RALT DOWN &hrm RCTRL RIGHT &hrm RSHIFT SEMICOLON DE_AE
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 &trans        &trans        &trans            &trans        &trans        &trans
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbols_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       DE_Y          DE_LABK       DE_LCBR       DE_LBRC       DE_LPRN       DE_Y              &kp MINUS     DE_RPRN       DE_RBRC       DE_RCBR        DE_RABK      &kp GRAVE
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 &trans        &trans        &trans            &trans        &trans        &trans
  //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(system_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &bootloader   &bt BT_CLR    &bt BT_NXT        &trans        &trans        &trans                                        &trans        &trans        &trans        &trans        &trans        &bootloader
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_EFR &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_COLOR_HSB(128,100,100)    &trans        &trans        &trans        &trans        &trans        &trans
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &rgb_ug RGB_SPI &rgb_ug RGB_SPD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_HUI &rgb_ug RGB_HUD                       &trans        &trans        &trans        &trans        &trans        &trans
  // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                 &trans        &trans        &trans                                       &trans        &trans        &trans
  //                                           ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯
)

/// {
//        keymap {
//                compatible = "zmk,keymap";
//
//                default_layer {
//                        bindings = <
//   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   DE_Z &kp U  &kp I     &kp O   &kp P    &kp BSPC
//   &kp TAB &hrm LSHIFT A &hrm LCTRL S &hrm LALT D &hrm LGUI F &kp G   &kp H &hrm RGUI J &hrm RALT K &hrm RCTRL L &hrm RSHIFT SEMICOLON  DE_AE
//   &kp LSHFT DE_Y &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
//                  &mo 3 &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
//                        >;
//                };
//                lower_layer {
//                        bindings = <
//   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6 &kp N7   &kp UP   &kp N9    &kp N0 &kp BSPC
//   &bt BT_CLR &bt BT_SEL   0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans &kp LEFT &kp DOWN &kp RIGHT &trans &trans
//   &kp LSHFT  &trans  &trans &trans &trans &trans         &trans   &trans   &trans &trans    &trans &trans
//                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
//                        >;
//                };
//
//                symbols_layer {
//                        bindings = <
//   &bootloader  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &bootloader
//   DE_Y &kp LESS_THAN  &kp LBKT &kp LBRC   &kp LPAR   DE_Y      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
//   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
//                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
//                        >;
//                };
//                tri_layer {
//                        bindings = <
//   &bootloader  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &bootloader
//   &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_EFR &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_COLOR_HSB(128,100,100)   &kp MINUS &kp EQUAL &kp LBKT   &kp RBKT &kp BSLH &kp GRAVE
//   &rgb_ug RGB_SPI &rgb_ug RGB_SPD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_HUI &rgb_ug RGB_HUD    &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE &kp TILDE
//                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
//                        >;
//                };
//        };
//};
